/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.bhuio{
    border-color: #70467E;
    border-width: 3px;
    
}

.bhuio:hover{
    border-color: #ccc;
    border-width: 2px;
    cursor: pointer;
    
}

/* .bnmk:hover .firstCase{
    
    height: 100%;
    position: relative;
    top: -10px;
} */

/* .bnmk:hover {
    height: 100%;
    position: relative;
    top: -10px;
} */

.bnmk:hover .firstCase{
    height: 100%;
    
}

.vbnm:focus{
    border-color: #70467E;
}

.firstCase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    transition: .75s ease-in;
}

.mainCase{
    display: none;
}

.bhuio:hover .mainCase{
        display: block;
   
}

.subMainCase{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
    justify-content: space-between;
    padding: 10px;
}

.bnmk{
    width: 200px;
    height: 280px;
}

.vfr{
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

}

.xcxc{
    padding: 10px;
    background-color: #70467E;
    border-radius: 8px;
}



@media screen and (max-width: 650px) {
    
    .bnmk{
        width: 300px;
        height: 170px;
    }
    .vfr{
        font-size: 12px;
        
    }
    .subMainCase{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
  
  }

  @media screen and (min-width: 651px) {
    
    .mkimki{
        padding: 0px 15px;
    }
    
  
  

  }

  